In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
import pandas as pd
import time
import datetime

In [2]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
def last_day_of_month_in_timestamp(month):
    next_month = datetime.date(2020, month, 1).replace(day=28) + datetime.timedelta(days=4)
    date = (next_month - datetime.timedelta(days=next_month.day))
    element = datetime.datetime.strptime(str(date),"%Y-%m-%d")
    return int(datetime.datetime.timestamp(element))

def first_day_of_the_month_in_timestamp(month):
    date = datetime.datetime(2020, month, 1)
    element = datetime.datetime.strptime(str(date),"%Y-%m-%d %H:%M:%S")
    return int(datetime.datetime.timestamp(element))

In [4]:
def stock_dataframes(stock):
    table_list = []
    for month in range(1, 9):
        start_date = first_day_of_the_month_in_timestamp(month)
        end_date = last_day_of_month_in_timestamp(month)

        stock_data = f'https://finance.yahoo.com/quote/{stock}/history?period1={start_date}&period2={end_date}&interval=1d&filter=history&frequency=1d'

        tables = pd.read_html(stock_data)
        table_list.append(tables)
        
    return table_list

In [5]:
gold = stock_dataframes("GC%3DF")

jan_gold_df = gold[0][0]
feb_gold_df = gold[1][0]
mar_gold_df = gold[2][0]
apr_gold_df = gold[3][0]
may_gold_df = gold[4][0]
jun_gold_df = gold[5][0]
jul_gold_df = gold[6][0]
aug_gold_df = gold[7][0]

In [6]:
gold_df = [aug_gold_df, jul_gold_df, jun_gold_df, may_gold_df, apr_gold_df, mar_gold_df, feb_gold_df, jan_gold_df]
gold_stock_df = pd.concat(gold_df)
gold_stock_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 13, 2020",1944.90,1951.90,1918.90,1942.00,1942.00,28996177
1,"Aug 12, 2020",1923.00,1946.60,1871.60,1934.90,1934.90,971
2,"Aug 11, 2020",2012.40,2016.00,1904.00,1932.60,1932.60,971
3,"Aug 10, 2020",2026.40,2043.80,2017.50,2024.40,2024.40,233
4,"Aug 09, 2020",2044.80,2047.50,2026.40,2037.10,2037.10,860398
...,...,...,...,...,...,...,...
21,"Jan 06, 2020",1580.00,1580.00,1560.40,1566.20,1566.20,416
22,"Jan 05, 2020",1562.70,1590.90,1562.30,1571.30,1571.30,1601769
23,"Jan 03, 2020",1530.10,1552.70,1530.10,1549.20,1549.20,107
24,"Jan 02, 2020",1518.10,1528.70,1518.00,1524.50,1524.50,214
25,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [8]:
gold_stock_df['Date'] = pd.to_datetime(gold_stock_df['Date'], errors='coerce').copy()

In [35]:
gold_stock_df.reset_index(inplace=True)
gold_stock_df.drop(columns='index', inplace=True)
gold_stock_df = gold_stock_df[gold_stock_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']
gold_stock_df = gold_stock_df[gold_stock_df.Open!='-'].copy()

In [36]:
GOLD_df = gold_stock_df[['Date','Open','Close*']].copy()
GOLD_df.columns = ['Date','Gold_open','Gold_close']
GOLD_df['Gold_open'] = GOLD_df['Gold_open'].astype('str', copy=True).astype('float', copy=True)
GOLD_df['Gold_close'] = GOLD_df['Gold_close'].astype('str', copy=True).astype('float', copy=True)

In [37]:
GOLD_df['Gold_pert_change'] = round(((GOLD_df['Gold_close']-GOLD_df['Gold_open'])/(GOLD_df['Gold_open']))*100,2)
GOLD_df.head()

        Date  Gold_open  Gold_close  Gold_pert_change
0 2020-08-13     1944.9      1942.0             -0.15
1 2020-08-12     1923.0      1934.9              0.62
2 2020-08-11     2012.4      1932.6             -3.97
3 2020-08-10     2026.4      2024.4             -0.10
4 2020-08-09     2044.8      2037.1             -0.38

In [38]:
oil = stock_dataframes("CL%3DF")

jan_oil_df = oil[0][0]
feb_oil_df = oil[1][0]
mar_oil_df = oil[2][0]
apr_oil_df = oil[3][0]
may_oil_df = oil[4][0]
jun_oil_df = oil[5][0]
jul_oil_df = oil[6][0]
aug_oil_df = oil[7][0]

In [39]:
oil_df = [aug_oil_df, jul_oil_df, jun_oil_df, may_oil_df, apr_oil_df, mar_oil_df, feb_oil_df, jan_oil_df]
oil_stock_df = pd.concat(oil_df)
oil_stock_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 13, 2020",42.62,42.84,42.09,42.34,42.34,115299089
1,"Aug 12, 2020",41.62,42.90,41.53,42.67,42.67,432843
2,"Aug 11, 2020",41.98,42.94,41.48,41.61,41.61,432843
3,"Aug 10, 2020",41.50,42.33,41.17,41.94,41.94,367796
4,"Aug 09, 2020",41.50,41.70,41.17,41.60,41.60,441570
...,...,...,...,...,...,...,...
21,"Jan 06, 2020",63.71,64.72,62.64,63.27,63.27,724236
22,"Jan 05, 2020",-,-,-,-,-,-
23,"Jan 03, 2020",61.18,64.09,61.13,63.05,63.05,885861
24,"Jan 02, 2020",61.60,61.60,60.64,61.18,61.18,486873
25,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [40]:
oil_stock_df['Date'] = pd.to_datetime(oil_stock_df['Date'], errors='coerce').copy()

In [41]:
oil_stock_df.reset_index(inplace=True)
oil_stock_df.drop(columns='index', inplace=True)
oil_stock_df = oil_stock_df[oil_stock_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']
oil_stock_df = oil_stock_df[oil_stock_df.Open!='-'].copy()

In [43]:
OIL_df = oil_stock_df[['Date','Open','Close*']].copy()
OIL_df.columns = ['Date','Oil_open','Oil_close']
OIL_df['Oil_open'] = OIL_df['Oil_open'].astype('str', copy=True).astype('float', copy=True)
OIL_df['Oil_close'] = OIL_df['Oil_close'].astype('str', copy=True).astype('float', copy=True)

In [45]:
OIL_df['Oil_pert_change'] = round(((OIL_df['Oil_close']-OIL_df['Oil_open'])/(OIL_df['Oil_open']))*100,2)
OIL_df.head()

        Date  Oil_open  Oil_close  Oil_pert_change
0 2020-08-13     42.62      42.34            -0.66
1 2020-08-12     41.62      42.67             2.52
2 2020-08-11     41.98      41.61            -0.88
3 2020-08-10     41.50      41.94             1.06
4 2020-08-09     41.50      41.60             0.24

In [53]:
jan_air_canada_df = stock_dataframes("GC%3DF")

jan_air_canada_df = air_canada[0][0]
feb_air_canada_df = air_canada[1][0]
mar_air_canada_df = air_canada[2][0]
apr_air_canada_df = air_canada[3][0]
may_air_canada_df = air_canada[4][0]
jun_air_canada_df = air_canada[5][0]
jul_air_canada_df = air_canada[6][0]
aug_air_canada_df = air_canada[7][0]

In [54]:
air_canada_df = [aug_air_canada_df, jul_air_canada_df, jun_air_canada_df, may_air_canada_df, apr_air_canada_df, mar_air_canada_df, feb_air_canada_df, jan_air_canada_df]
air_canada_stock_df = pd.concat(air_canada_df)
air_canada_stock_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 13, 2020",1944.90,1974.80,1916.90,1967.50,1967.50,166495659
1,"Aug 12, 2020",1923.00,1946.60,1871.60,1934.90,1934.90,971
2,"Aug 11, 2020",2012.40,2016.00,1904.00,1932.60,1932.60,971
3,"Aug 10, 2020",2026.40,2043.80,2017.50,2024.40,2024.40,233
4,"Aug 09, 2020",2044.80,2047.50,2026.40,2037.10,2037.10,860398
...,...,...,...,...,...,...,...
21,"Jan 06, 2020",1580.00,1580.00,1560.40,1566.20,1566.20,416
22,"Jan 05, 2020",1562.70,1590.90,1562.30,1571.30,1571.30,1601769
23,"Jan 03, 2020",1530.10,1552.70,1530.10,1549.20,1549.20,107
24,"Jan 02, 2020",1518.10,1528.70,1518.00,1524.50,1524.50,214
25,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [55]:
air_canada_stock_df['Date'] = pd.to_datetime(air_canada_stock_df['Date'], errors='coerce').copy()

In [56]:
air_canada_stock_df.reset_index(inplace=True)
air_canada_stock_df.drop(columns='index', inplace=True)
air_canada_stock_df = air_canada_stock_df[air_canada_stock_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']
air_canada_stock_df = air_canada_stock_df[air_canada_stock_df.Open!='-'].copy()

In [57]:
AC_df = air_canada_stock_df[['Date','Open','Close*']].copy()
AC_df.columns = ['Date','Air_Canada_open','Air_Canada_close']
AC_df['Air_Canada_open'] = AC_df['Air_Canada_open'].astype('str', copy=True).astype('float', copy=True)
AC_df['Air_Canada_close'] = AC_df['Air_Canada_close'].astype('str', copy=True).astype('float', copy=True)

In [59]:
AC_df['Air_Canada_pert_change'] = round(((AC_df['Air_Canada_close']-AC_df['Air_Canada_open'])/(AC_df['Air_Canada_open']))*100,2)
AC_df.head()

        Date  Air_Canada_open  Air_Canada_close  Air_Canada_pert_change
0 2020-08-13           1944.9            1967.5                    1.16
1 2020-08-12           1923.0            1934.9                    0.62
2 2020-08-11           2012.4            1932.6                   -3.97
3 2020-08-10           2026.4            2024.4                   -0.10
4 2020-08-09           2044.8            2037.1                   -0.38