In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
import pandas as pd
import time
import datetime

In [2]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [2]:
def last_day_of_month_in_timestamp(month):
    next_month = datetime.date(2020, month, 1).replace(day=28) + datetime.timedelta(days=4)
    date = (next_month - datetime.timedelta(days=next_month.day))
    element = datetime.datetime.strptime(str(date),"%Y-%m-%d")
    return int(datetime.datetime.timestamp(element))

def first_day_of_the_month_in_timestamp(month):
    date = datetime.datetime(2020, month, 1)
    element = datetime.datetime.strptime(str(date),"%Y-%m-%d %H:%M:%S")
    return int(datetime.datetime.timestamp(element))

In [3]:
def stock_dataframes(stock):
    table_list = []
    for month in range(1, 9):
        start_date = first_day_of_the_month_in_timestamp(month)
        end_date = last_day_of_month_in_timestamp(month)

        stock_data = f'https://finance.yahoo.com/quote/{stock}/history?period1={start_date}&period2={end_date}&interval=1d&filter=history&frequency=1d'

        tables = pd.read_html(stock_data)
        table_list.append(tables)
        
    return table_list

In [4]:
gold = stock_dataframes("GC%3DF")

jan_gold_df = gold[0][0]
feb_gold_df = gold[1][0]
mar_gold_df = gold[2][0]
apr_gold_df = gold[3][0]
may_gold_df = gold[4][0]
jun_gold_df = gold[5][0]
jul_gold_df = gold[6][0]
aug_gold_df = gold[7][0]

In [5]:
gold_df = [aug_gold_df, jul_gold_df, jun_gold_df, may_gold_df, apr_gold_df, mar_gold_df, feb_gold_df, jan_gold_df]
gold_stock_df = pd.concat(gold_df)
gold_stock_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 13, 2020",1944.90,1974.80,1916.90,1967.70,1967.70,166643665
1,"Aug 12, 2020",1923.00,1946.60,1871.60,1934.90,1934.90,971
2,"Aug 11, 2020",2012.40,2016.00,1904.00,1932.60,1932.60,971
3,"Aug 10, 2020",2026.40,2043.80,2017.50,2024.40,2024.40,233
4,"Aug 09, 2020",2044.80,2047.50,2026.40,2037.10,2037.10,860398
...,...,...,...,...,...,...,...
21,"Jan 06, 2020",1580.00,1580.00,1560.40,1566.20,1566.20,416
22,"Jan 05, 2020",1562.70,1590.90,1562.30,1571.30,1571.30,1601769
23,"Jan 03, 2020",1530.10,1552.70,1530.10,1549.20,1549.20,107
24,"Jan 02, 2020",1518.10,1528.70,1518.00,1524.50,1524.50,214
25,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [6]:
gold_stock_df['Date'] = pd.to_datetime(gold_stock_df['Date'], errors='coerce').copy()

In [7]:
gold_stock_df.reset_index(inplace=True)
gold_stock_df.drop(columns='index', inplace=True)
gold_stock_df = gold_stock_df[gold_stock_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']
gold_stock_df = gold_stock_df[gold_stock_df.Open!='-'].copy()

In [8]:
GOLD_df = gold_stock_df[['Date','Open','Close*']].copy()
GOLD_df.columns = ['Date','Gold_open','Gold_close']
GOLD_df['Gold_open'] = GOLD_df['Gold_open'].astype('str', copy=True).astype('float', copy=True)
GOLD_df['Gold_close'] = GOLD_df['Gold_close'].astype('str', copy=True).astype('float', copy=True)

In [9]:
GOLD_df['Gold_pert_change'] = round(((GOLD_df['Gold_close']-GOLD_df['Gold_open'])/(GOLD_df['Gold_open']))*100,2)
GOLD_df.head()

        Date  Gold_open  Gold_close  Gold_pert_change
0 2020-08-13     1944.9      1967.7              1.17
1 2020-08-12     1923.0      1934.9              0.62
2 2020-08-11     2012.4      1932.6             -3.97
3 2020-08-10     2026.4      2024.4             -0.10
4 2020-08-09     2044.8      2037.1             -0.38

In [10]:
oil = stock_dataframes("CL%3DF")

jan_oil_df = oil[0][0]
feb_oil_df = oil[1][0]
mar_oil_df = oil[2][0]
apr_oil_df = oil[3][0]
may_oil_df = oil[4][0]
jun_oil_df = oil[5][0]
jul_oil_df = oil[6][0]
aug_oil_df = oil[7][0]

In [11]:
oil_df = [aug_oil_df, jul_oil_df, jun_oil_df, may_oil_df, apr_oil_df, mar_oil_df, feb_oil_df, jan_oil_df]
oil_stock_df = pd.concat(oil_df)
oil_stock_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 13, 2020",42.62,42.84,42.09,42.38,42.38,115334221
1,"Aug 12, 2020",41.62,42.90,41.53,42.67,42.67,432843
2,"Aug 11, 2020",41.98,42.94,41.48,41.61,41.61,432843
3,"Aug 10, 2020",41.50,42.33,41.17,41.94,41.94,367796
4,"Aug 09, 2020",41.50,41.70,41.17,41.60,41.60,441570
...,...,...,...,...,...,...,...
21,"Jan 06, 2020",63.71,64.72,62.64,63.27,63.27,724236
22,"Jan 05, 2020",-,-,-,-,-,-
23,"Jan 03, 2020",61.18,64.09,61.13,63.05,63.05,885861
24,"Jan 02, 2020",61.60,61.60,60.64,61.18,61.18,486873
25,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [12]:
oil_stock_df['Date'] = pd.to_datetime(oil_stock_df['Date'], errors='coerce').copy()

In [13]:
oil_stock_df.reset_index(inplace=True)
oil_stock_df.drop(columns='index', inplace=True)
oil_stock_df = oil_stock_df[oil_stock_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']
oil_stock_df = oil_stock_df[oil_stock_df.Open!='-'].copy()

In [14]:
OIL_df = oil_stock_df[['Date','Open','Close*']].copy()
OIL_df.columns = ['Date','Oil_open','Oil_close']
OIL_df['Oil_open'] = OIL_df['Oil_open'].astype('str', copy=True).astype('float', copy=True)
OIL_df['Oil_close'] = OIL_df['Oil_close'].astype('str', copy=True).astype('float', copy=True)

In [15]:
OIL_df['Oil_pert_change'] = round(((OIL_df['Oil_close']-OIL_df['Oil_open'])/(OIL_df['Oil_open']))*100,2)
OIL_df.head()

        Date  Oil_open  Oil_close  Oil_pert_change
0 2020-08-13     42.62      42.38            -0.56
1 2020-08-12     41.62      42.67             2.52
2 2020-08-11     41.98      41.61            -0.88
3 2020-08-10     41.50      41.94             1.06
4 2020-08-09     41.50      41.60             0.24

In [18]:
air_canada = stock_dataframes("AC.TO")

jan_air_canada_df = air_canada[0][0]
feb_air_canada_df = air_canada[1][0]
mar_air_canada_df = air_canada[2][0]
apr_air_canada_df = air_canada[3][0]
may_air_canada_df = air_canada[4][0]
jun_air_canada_df = air_canada[5][0]
jul_air_canada_df = air_canada[6][0]
aug_air_canada_df = air_canada[7][0]

In [19]:
air_canada_df = [aug_air_canada_df, jul_air_canada_df, jun_air_canada_df, may_air_canada_df, apr_air_canada_df, mar_air_canada_df, feb_air_canada_df, jan_air_canada_df]
air_canada_stock_df = pd.concat(air_canada_df)
air_canada_stock_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 13, 2020",16.82,17.49,16.75,17.08,17.08,4961821
1,"Aug 12, 2020",16.90,16.99,16.42,16.95,16.95,4690555
2,"Aug 11, 2020",16.87,17.00,16.50,16.69,16.69,6187381
3,"Aug 10, 2020",15.90,16.64,15.76,16.23,16.23,6269743
4,"Aug 07, 2020",15.91,15.95,15.58,15.73,15.73,2837518
...,...,...,...,...,...,...,...
17,"Jan 07, 2020",47.30,48.27,47.20,48.24,48.24,863739
18,"Jan 06, 2020",47.61,47.82,47.11,47.30,47.30,1134902
19,"Jan 03, 2020",48.98,48.99,46.85,48.31,48.31,1967356
20,"Jan 02, 2020",48.72,50.07,48.56,50.00,50.00,657536
21,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [20]:
air_canada_stock_df['Date'] = pd.to_datetime(air_canada_stock_df['Date'], errors='coerce').copy()

In [21]:
air_canada_stock_df.reset_index(inplace=True)
air_canada_stock_df.drop(columns='index', inplace=True)
air_canada_stock_df = air_canada_stock_df[air_canada_stock_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']
air_canada_stock_df = air_canada_stock_df[air_canada_stock_df.Open!='-'].copy()

In [22]:
AC_df = air_canada_stock_df[['Date','Open','Close*']].copy()
AC_df.columns = ['Date','Air_Canada_open','Air_Canada_close']
AC_df['Air_Canada_open'] = AC_df['Air_Canada_open'].astype('str', copy=True).astype('float', copy=True)
AC_df['Air_Canada_close'] = AC_df['Air_Canada_close'].astype('str', copy=True).astype('float', copy=True)

In [23]:
AC_df['Air_Canada_pert_change'] = round(((AC_df['Air_Canada_close']-AC_df['Air_Canada_open'])/(AC_df['Air_Canada_open']))*100,2)
AC_df.head()

        Date  Air_Canada_open  Air_Canada_close  Air_Canada_pert_change
0 2020-08-13            16.82             17.08                    1.55
1 2020-08-12            16.90             16.95                    0.30
2 2020-08-11            16.87             16.69                   -1.07
3 2020-08-10            15.90             16.23                    2.08
4 2020-08-07            15.91             15.73                   -1.13

In [24]:
Pton= stock_dataframes("PTON")

jan_Pton_df = Pton[0][0]
feb_Pton_df = Pton[1][0]
mar_Pton_df = Pton[2][0]
apr_Pton_df = Pton[3][0]
may_Pton_df = Pton[4][0]
jun_Pton_df = Pton[5][0]
jul_Pton_df = Pton[6][0]
aug_Pton_df = Pton[7][0]

In [25]:

Pton_df = [aug_Pton_df, jul_Pton_df, jun_Pton_df, may_Pton_df, apr_Pton_df, mar_Pton_df, feb_Pton_df, jan_Pton_df]
pton_df = pd.concat(Pton_df)
pton_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 13, 2020",63.00,65.99,62.50,65.71,65.71,9838366
1,"Aug 12, 2020",65.21,65.73,63.76,64.36,64.36,3765800
2,"Aug 11, 2020",65.69,67.20,64.15,64.96,64.96,4140600
3,"Aug 10, 2020",68.48,69.57,65.15,67.12,67.12,3933000
4,"Aug 07, 2020",69.99,70.68,66.37,68.30,68.30,4748000
...,...,...,...,...,...,...,...
16,"Jan 07, 2020",29.44,30.84,28.83,30.40,30.40,3072000
17,"Jan 06, 2020",30.61,31.70,29.72,29.75,29.75,4028900
18,"Jan 03, 2020",29.49,31.25,29.29,30.60,30.60,4974100
19,"Jan 02, 2020",28.90,30.02,27.80,29.74,29.74,5916200
20,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [26]:

pton_df['Date']=pd.to_datetime(pton_df['Date'], errors='coerce').copy()

In [27]:
pton_df.reset_index(inplace=True)
pton_df.drop(columns='index', inplace=True)
pton_df=pton_df[pton_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']

In [28]:
PTON_df=pton_df[['Date','Open','Close*']].copy()
PTON_df.columns=['Date','Pton_open','Pton_close']
PTON_df['Pton_open']=PTON_df['Pton_open'].astype('str', copy=True).astype('float', copy=True)
PTON_df['Pton_close']=PTON_df['Pton_close'].astype('str', copy=True).astype('float', copy=True)

In [29]:
PTON_df['Pton_pert_change']=round(((PTON_df['Pton_close']-PTON_df['Pton_open'])/(PTON_df['Pton_open']))*100,2)
PTON_df.head()

        Date  Pton_open  Pton_close  Pton_pert_change
0 2020-08-13      63.00       65.71              4.30
1 2020-08-12      65.21       64.36             -1.30
2 2020-08-11      65.69       64.96             -1.11
3 2020-08-10      68.48       67.12             -1.99
4 2020-08-07      69.99       68.30             -2.41

In [30]:
LOB= stock_dataframes("L.TO")

jan_LOB_df = LOB[0][0]
feb_LOB_df = LOB[1][0]
mar_LOB_df = LOB[2][0]
apr_LOB_df = LOB[3][0]
may_LOB_df = LOB[4][0]
jun_LOB_df = LOB[5][0]
jul_LOB_df = LOB[6][0]
aug_LOB_df = LOB[7][0]

In [31]:
LOB_df = [aug_LOB_df, jul_LOB_df, jun_LOB_df, may_LOB_df, apr_LOB_df, mar_LOB_df, feb_LOB_df, jan_LOB_df]
LOB_df = pd.concat(LOB_df)
LOB_df.head()

           Date   Open   High    Low Close* Adj Close**  Volume
0  Aug 13, 2020  70.13  71.06  69.86  70.73       70.73  475066
1  Aug 12, 2020  70.31  71.77  70.20  70.35       70.35  647400
2  Aug 11, 2020  69.76  70.38  69.75  70.20       70.20  710000
3  Aug 10, 2020  69.91  69.97  69.08  69.53       69.53  509200
4  Aug 07, 2020  69.91  70.21  69.63  69.81       69.81  289600

In [32]:

LOB_df['Date']=pd.to_datetime(LOB_df['Date'], errors='coerce').copy()

LOB_df.reset_index(inplace=True)
LOB_df.drop(columns='index', inplace=True)
LOB_df=LOB_df[LOB_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']
LOB_df=LOB_df[LOB_df.Open!='0.315 Dividend']
LOB_df.head()

        Date   Open   High    Low Close* Adj Close**  Volume
0 2020-08-13  70.13  71.06  69.86  70.73       70.73  475066
1 2020-08-12  70.31  71.77  70.20  70.35       70.35  647400
2 2020-08-11  69.76  70.38  69.75  70.20       70.20  710000
3 2020-08-10  69.91  69.97  69.08  69.53       69.53  509200
4 2020-08-07  69.91  70.21  69.63  69.81       69.81  289600

In [33]:

Loblaws_df=LOB_df[['Date','Open','Close*']].copy()
Loblaws_df.columns=['Date','Loblaws_open','Loblaws_close']
Loblaws_df['Loblaws_open']=Loblaws_df['Loblaws_open'].astype('str', copy=True).astype('float', copy=True)
Loblaws_df['Loblaws_close']=Loblaws_df['Loblaws_close'].astype('str', copy=True).astype('float', copy=True)

In [34]:
Loblaws_df['Loblaw_pert_change']=round(((Loblaws_df['Loblaws_close']-Loblaws_df['Loblaws_open'])/(Loblaws_df['Loblaws_open']))*100,2)
Loblaws_df.head()

        Date  Loblaws_open  Loblaws_close  Loblaw_pert_change
0 2020-08-13         70.13          70.73                0.86
1 2020-08-12         70.31          70.35                0.06
2 2020-08-11         69.76          70.20                0.63
3 2020-08-10         69.91          69.53               -0.54
4 2020-08-07         69.91          69.81               -0.14

In [35]:
AMZN= stock_dataframes("AMZN")

jan_AMZN_df = AMZN[0][0]
feb_AMZN_df = AMZN[1][0]
mar_AMZN_df = AMZN[2][0]
apr_AMZN_df = AMZN[3][0]
may_AMZN_df = AMZN[4][0]
jun_AMZN_df = AMZN[5][0]
jul_AMZN_df = AMZN[6][0]
aug_AMZN_df = AMZN[7][0]

In [36]:
AMZN_df = [aug_AMZN_df, jul_AMZN_df, jun_AMZN_df, may_AMZN_df, apr_AMZN_df, mar_AMZN_df, feb_AMZN_df, jan_AMZN_df]
AMZN_df = pd.concat(AMZN_df)
AMZN_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 13, 2020",3182.99,3217.52,3155.00,3161.02,3161.02,3020654
1,"Aug 12, 2020",3108.00,3174.39,3101.42,3162.24,3162.24,3522100
2,"Aug 11, 2020",3113.20,3159.22,3073.00,3080.67,3080.67,3718100
3,"Aug 10, 2020",3170.31,3172.51,3101.52,3148.16,3148.16,3167300
4,"Aug 07, 2020",3224.01,3240.81,3140.67,3167.46,3167.46,3929600
...,...,...,...,...,...,...,...
16,"Jan 07, 2020",1904.50,1913.89,1892.04,1906.86,1906.86,4044900
17,"Jan 06, 2020",1860.00,1903.69,1860.00,1902.88,1902.88,4061800
18,"Jan 03, 2020",1864.50,1886.20,1864.50,1874.97,1874.97,3764400
19,"Jan 02, 2020",1875.00,1898.01,1864.15,1898.01,1898.01,4029000
20,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [37]:
AMZN_df['Date']=pd.to_datetime(AMZN_df['Date'], errors='coerce').copy()

In [38]:

AMZN_df.reset_index(inplace=True)
AMZN_df.drop(columns='index', inplace=True)
AMZN_df=AMZN_df[AMZN_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']

In [39]:

Amazon_df=AMZN_df[['Date','Open','Close*']].copy()
Amazon_df.columns=['Date','Amazon_open','Amazon_close']

Amazon_df['Amazon_open']=Amazon_df['Amazon_open'].astype('str', copy=True).astype('float', copy=True)
Amazon_df['Amazon_close']=Amazon_df['Amazon_close'].astype('str', copy=True).astype('float', copy=True)
Amazon_df.dtypes

Date            datetime64[ns]
Amazon_open            float64
Amazon_close           float64
dtype: object

In [40]:
Amazon_df['Amazon_pert_change']=round(((Amazon_df['Amazon_close']-Amazon_df['Amazon_open'])/(Amazon_df['Amazon_open'])
                                       )*100,2)
Amazon_df.head()

        Date  Amazon_open  Amazon_close  Amazon_pert_change
0 2020-08-13      3182.99       3161.02               -0.69
1 2020-08-12      3108.00       3162.24                1.75
2 2020-08-11      3113.20       3080.67               -1.04
3 2020-08-10      3170.31       3148.16               -0.70
4 2020-08-07      3224.01       3167.46               -1.75

In [44]:
Stockta_df=Amazon_df.merge(PTON_df,on="Date",how="inner").merge(Loblaws_df, on="Date", how="inner").\
merge(AC_df, on="Date", how="inner").merge(OIL_df, on="Date", how="inner").merge(
GOLD_df, on="Date", how="inner")

In [45]:
Stockta_df

,Date,Amazon_open,Amazon_close,Amazon_pert_change,Pton_open,Pton_close,Pton_pert_change,Loblaws_open,Loblaws_close,Loblaw_pert_change,Air_Canada_open,Air_Canada_close,Air_Canada_pert_change,Oil_open,Oil_close,Oil_pert_change,Gold_open,Gold_close,Gold_pert_change
0,2020-08-13,3182.99,3161.02,-0.69,63.00,65.71,4.30,70.13,70.73,0.86,16.82,17.08,1.55,42.62,42.38,-0.56,1944.9,1967.7,1.17
1,2020-08-12,3108.00,3162.24,1.75,65.21,64.36,-1.30,70.31,70.35,0.06,16.90,16.95,0.30,41.62,42.67,2.52,1923.0,1934.9,0.62
2,2020-08-11,3113.20,3080.67,-1.04,65.69,64.96,-1.11,69.76,70.20,0.63,16.87,16.69,-1.07,41.98,41.61,-0.88,2012.4,1932.6,-3.97
3,2020-08-10,3170.31,3148.16,-0.70,68.48,67.12,-1.99,69.91,69.53,-0.54,15.90,16.23,2.08,41.50,41.94,1.06,2026.4,2024.4,-0.10
4,2020-08-07,3224.01,3167.46,-1.75,69.99,68.30,-2.41,69.91,69.81,-0.14,15.91,15.73,-1.13,41.97,41.22,-1.79,2040.1,2010.1,-1.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,2020-01-08,1898.04,1891.97,-0.32,30.07,29.65,-1.40,67.22,67.57,0.52,47.75,49.04,2.70,62.84,59.61,-5.14,1579.7,1557.4,-1.41
144,2020-01-07,1904.50,1906.86,0.12,29.44,30.40,3.26,66.77,67.22,0.67,47.30,48.24,1.99,62.91,62.70,-0.33,1558.3,1571.8,0.87
145,2020-01-06,1860.00,1902.88,2.31,30.61,29.75,-2.81,66.97,66.71,-0.39,47.61,47.30,-0.65,63.71,63.27,-0.69,1580.0,1566.2,-0.87
146,2020-01-03,1864.50,1874.97,0.56,29.49,30.60,3.76,66.47,67.01,0.81,48.98,48.31,-1.37,61.18,63.05,3.06,1530.1,1549.2,1.25
147,2020-01-02,1875.00,1898.01,1.23,28.90,29.74,2.91,67.01,66.75,-0.39,48.72,50.00,2.63,61.60,61.18,-0.68,1518.1,1524.5,0.42