In [14]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time
import datetime

In [15]:
!which chromedriver

/usr/local/bin/chromedriver

In [22]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [38]:
def last_day_of_month_in_timestamp(month):
    next_month = datetime.date(2020, month, 1).replace(day=28) + datetime.timedelta(days=4)
    date = (next_month - datetime.timedelta(days=next_month.day))
    element = datetime.datetime.strptime(str(date),"%Y-%m-%d")
    return int(datetime.datetime.timestamp(element))

def first_day_of_the_month_in_timestamp(month):
    date = datetime.datetime(2020, month, 1)
    element = datetime.datetime.strptime(str(date),"%Y-%m-%d %H:%M:%S")
    return int(datetime.datetime.timestamp(element))

def stock_dataframes(stock):
    table_list = []
    for month in range(1, 9):
        start_date = first_day_of_the_month_in_timestamp(month)
        end_date = last_day_of_month_in_timestamp(month)
        stock_data = f'https://finance.yahoo.com/quote/{stock}/history?period1={start_date}&period2={end_date}&interval=1d&filter=history&frequency=1d'
        tables = pd.read_html(stock_data)
        table_list.append(tables)
        
    return table_list

In [39]:
netflix = stock_dataframes("NFLX")

jan_netflix_df = netflix[0][0]
feb_netflix_df = netflix[1][0]
mar_netflix_df = netflix[2][0]
apr_netflix_df = netflix[3][0]
may_netflix_df = netflix[4][0]
jun_netflix_df = netflix[5][0]
jul_netflix_df = netflix[6][0]
aug_netflix_df = netflix[7][0]

In [40]:
netflix_df = [aug_netflix_df, jul_netflix_df, jun_netflix_df, may_netflix_df, apr_netflix_df, mar_netflix_df, feb_netflix_df, jan_netflix_df]
netflix_stock_df = pd.concat(netflix_df)
netflix_stock_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 13, 2020",478.40,484.41,476.45,481.33,481.33,2977851
1,"Aug 12, 2020",471.34,482.49,470.18,475.47,475.47,5439200
2,"Aug 11, 2020",479.75,480.92,466.55,466.93,466.93,7329200
3,"Aug 10, 2020",493.35,497.46,478.63,483.38,483.38,4691200
4,"Aug 07, 2020",505.45,508.29,486.68,494.73,494.73,5906700
...,...,...,...,...,...,...,...
16,"Jan 07, 2020",336.47,336.70,330.30,330.75,330.75,4703200
17,"Jan 06, 2020",323.12,336.36,321.20,335.83,335.83,5663100
18,"Jan 03, 2020",326.78,329.86,325.53,325.90,325.90,3806900
19,"Jan 02, 2020",326.10,329.98,324.78,329.81,329.81,4485800
20,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [43]:
netflix_stock_df['Date']=pd.to_datetime(netflix_stock_df['Date'], errors='coerce').copy()

In [44]:

netflix_stock_df.reset_index(inplace=True)
netflix_stock_df.drop(columns='index', inplace=True)
netflix_stock_df=netflix_stock_df[netflix_stock_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']

In [45]:
netflix_stock_df=netflix_stock_df[['Date','Open','Close*']].copy()
netflix_stock_df.columns=['Date','netflix_open','netflix_close']
netflix_stock_df['netflix_open']=netflix_stock_df['netflix_open'].astype('str', copy=True).astype('float', copy=True)
netflix_stock_df['netflix_close']=netflix_stock_df['netflix_close'].astype('str', copy=True).astype('float', copy=True)

In [47]:
netflix_stock_df['netflix_pert_change']=round(((netflix_stock_df['netflix_close']-netflix_stock_df['netflix_open'])/(netflix_stock_df['netflix_open']))*100,2)
netflix_stock_df.head()

        Date  netflix_open  netflix_close  netflix_pert_change
0 2020-08-13        478.40         481.33                 0.61
1 2020-08-12        471.34         475.47                 0.88
2 2020-08-11        479.75         466.93                -2.67
3 2020-08-10        493.35         483.38                -2.02
4 2020-08-07        505.45         494.73                -2.12

In [48]:
uber= stock_dataframes("UBER")

jan_uber_df = uber[0][0]
feb_uber_df = uber[1][0]
mar_uber_df = uber[2][0]
apr_uber_df = uber[3][0]
may_uber_df = uber[4][0]
jun_uber_df = uber[5][0]
jul_uber_df = uber[6][0]
aug_uber_df = uber[7][0]

In [49]:

uber_df = [aug_uber_df, jul_uber_df, jun_uber_df, may_uber_df, apr_uber_df, mar_uber_df, feb_uber_df, jan_uber_df]
uber_df = pd.concat(uber_df)
uber_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 13, 2020",30.52,31.33,30.32,30.46,30.46,21842161
1,"Aug 12, 2020",31.46,32.22,30.69,30.84,30.84,23375900
2,"Aug 11, 2020",31.66,32.21,30.65,31.21,31.21,31569900
3,"Aug 10, 2020",33.04,33.18,31.51,32.27,32.27,21347600
4,"Aug 07, 2020",33.09,33.70,32.45,32.90,32.90,39071200
...,...,...,...,...,...,...,...
16,"Jan 07, 2020",31.79,32.84,31.36,32.81,32.81,30119600
17,"Jan 06, 2020",31.01,32.06,31.00,31.58,31.58,21204700
18,"Jan 03, 2020",30.62,31.43,30.48,31.37,31.37,18822700
19,"Jan 02, 2020",29.94,31.00,29.79,30.99,30.99,20578900
20,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [50]:
uber_df['Date']=pd.to_datetime(uber_df['Date'], errors='coerce').copy()

uber_df.reset_index(inplace=True)
uber_df.drop(columns='index', inplace=True)
uber_df=uber_df[uber_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']
uber_df=uber_df[uber_df.Open!='0.315 Dividend']
uber_df.head()

        Date   Open   High    Low Close* Adj Close**    Volume
0 2020-08-13  30.52  31.33  30.32  30.46       30.46  21842161
1 2020-08-12  31.46  32.22  30.69  30.84       30.84  23375900
2 2020-08-11  31.66  32.21  30.65  31.21       31.21  31569900
3 2020-08-10  33.04  33.18  31.51  32.27       32.27  21347600
4 2020-08-07  33.09  33.70  32.45  32.90       32.90  39071200

In [51]:
uber_df=uber_df[['Date','Open','Close*']].copy()
uber_df.columns=['Date','uber_open','uber_close']
uber_df['uber_open']=uber_df['uber_open'].astype('str', copy=True).astype('float', copy=True)
uber_df['uber_close']=uber_df['uber_close'].astype('str', copy=True).astype('float', copy=True)

uber_df.dtypes

Date          datetime64[ns]
uber_open            float64
uber_close           float64
dtype: object

In [55]:
uber_df['uber_pert_change']=round(((uber_df['uber_close']-uber_df['uber_open'])/(uber_df['uber_open']))*100,2)
uber_df.head()

        Date  uber_open  uber_close  uber_pert_change
0 2020-08-13      30.52       30.46             -0.20
1 2020-08-12      31.46       30.84             -1.97
2 2020-08-11      31.66       31.21             -1.42
3 2020-08-10      33.04       32.27             -2.33
4 2020-08-07      33.09       32.90             -0.57

In [56]:
Stockm_df=netflix_stock_df.merge(uber_df,on="Date",how="inner")

In [57]:

Stockm_df

,Date,netflix_open,netflix_close,netflix_pert_change,uber_open,uber_close,uber_pert_change
0,2020-08-13,478.40,481.33,0.61,30.52,30.46,-0.20
1,2020-08-12,471.34,475.47,0.88,31.46,30.84,-1.97
2,2020-08-11,479.75,466.93,-2.67,31.66,31.21,-1.42
3,2020-08-10,493.35,483.38,-2.02,33.04,32.27,-2.33
4,2020-08-07,505.45,494.73,-2.12,33.09,32.90,-0.57
...,...,...,...,...,...,...,...
146,2020-01-08,331.49,339.26,2.34,32.73,33.93,3.67
147,2020-01-07,336.47,330.75,-1.70,31.79,32.81,3.21
148,2020-01-06,323.12,335.83,3.93,31.01,31.58,1.84
149,2020-01-03,326.78,325.90,-0.27,30.62,31.37,2.45
150,2020-01-02,326.10,329.81,1.14,29.94,30.99,3.51