In [1]:
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas as pd
import time
import datetime

In [4]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [2]:
def last_day_of_month_in_timestamp(month):
    next_month = datetime.date(2020, month, 1).replace(day=28) + datetime.timedelta(days=4)
    date = (next_month - datetime.timedelta(days=next_month.day))
    element = datetime.datetime.strptime(str(date),"%Y-%m-%d")
    return int(datetime.datetime.timestamp(element))

def first_day_of_the_month_in_timestamp(month):
    date = datetime.datetime(2020, month, 1)
    element = datetime.datetime.strptime(str(date),"%Y-%m-%d %H:%M:%S")
    return int(datetime.datetime.timestamp(element))

In [3]:

def stock_dataframes(stock):
    table_list = []
    for month in range(1, 9):
        start_date = first_day_of_the_month_in_timestamp(month)
        end_date = last_day_of_month_in_timestamp(month)

        #crude_oil = f'https://finance.yahoo.com/quote/CL%3DF/history?period1={start_date}&period2={end_date}&interval=1d&filter=history&frequency=1d'
        stock_data = f'https://finance.yahoo.com/quote/{stock}/history?period1={start_date}&period2={end_date}&interval=1d&filter=history&frequency=1d'

        tables = pd.read_html(stock_data)
        table_list.append(tables)
        
    return table_list

In [4]:
Pton= stock_dataframes("PTON")

jan_Pton_df = Pton[0][0]
feb_Pton_df = Pton[1][0]
mar_Pton_df = Pton[2][0]
apr_Pton_df = Pton[3][0]
may_Pton_df = Pton[4][0]
jun_Pton_df = Pton[5][0]
jul_Pton_df = Pton[6][0]
aug_Pton_df = Pton[7][0]

In [5]:

Pton_df = [aug_Pton_df, jul_Pton_df, jun_Pton_df, may_Pton_df, apr_Pton_df, mar_Pton_df, feb_Pton_df, jan_Pton_df]
pton_df = pd.concat(Pton_df)
pton_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 12, 2020",65.21,65.73,63.76,64.36,64.36,3765800
1,"Aug 11, 2020",65.69,67.20,64.15,64.96,64.96,4140600
2,"Aug 10, 2020",68.48,69.57,65.15,67.12,67.12,3933000
3,"Aug 07, 2020",69.99,70.68,66.37,68.30,68.30,4748000
4,"Aug 06, 2020",71.73,72.50,69.68,69.72,69.72,4523300
...,...,...,...,...,...,...,...
16,"Jan 07, 2020",29.44,30.84,28.83,30.40,30.40,3072000
17,"Jan 06, 2020",30.61,31.70,29.72,29.75,29.75,4028900
18,"Jan 03, 2020",29.49,31.25,29.29,30.60,30.60,4974100
19,"Jan 02, 2020",28.90,30.02,27.80,29.74,29.74,5916200
20,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [6]:
pton_df['Date']=pd.to_datetime(pton_df['Date'], errors='coerce').copy()

In [7]:
pton_df.reset_index(inplace=True)
pton_df.drop(columns='index', inplace=True)
pton_df=pton_df[pton_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']

In [8]:
PTON_df=pton_df[['Date','Open','Close*']].copy()
PTON_df.columns=['Date','Pton_open','Pton_close']
PTON_df['Pton_open']=PTON_df['Pton_open'].astype('str', copy=True).astype('float', copy=True)
PTON_df['Pton_close']=PTON_df['Pton_close'].astype('str', copy=True).astype('float', copy=True)

In [9]:
PTON_df['Pton_pert_change']=round(((PTON_df['Pton_close']-PTON_df['Pton_open'])/(PTON_df['Pton_open']))*100,2)
PTON_df.head()

        Date  Pton_open  Pton_close  Pton_pert_change
0 2020-08-12      65.21       64.36             -1.30
1 2020-08-11      65.69       64.96             -1.11
2 2020-08-10      68.48       67.12             -1.99
3 2020-08-07      69.99       68.30             -2.41
4 2020-08-06      71.73       69.72             -2.80

In [10]:
LOB= stock_dataframes("L.TO")

jan_LOB_df = LOB[0][0]
feb_LOB_df = LOB[1][0]
mar_LOB_df = LOB[2][0]
apr_LOB_df = LOB[3][0]
may_LOB_df = LOB[4][0]
jun_LOB_df = LOB[5][0]
jul_LOB_df = LOB[6][0]
aug_LOB_df = LOB[7][0]

In [11]:
LOB_df = [aug_LOB_df, jul_LOB_df, jun_LOB_df, may_LOB_df, apr_LOB_df, mar_LOB_df, feb_LOB_df, jan_LOB_df]
LOB_df = pd.concat(LOB_df)
LOB_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 12, 2020",70.31,71.77,70.20,70.35,70.35,647400
1,"Aug 11, 2020",69.76,70.38,69.75,70.20,70.20,710000
2,"Aug 10, 2020",69.91,69.97,69.08,69.53,69.53,509200
3,"Aug 07, 2020",69.91,70.21,69.63,69.81,69.81,289600
4,"Aug 06, 2020",69.56,70.06,69.37,69.97,69.97,446200
...,...,...,...,...,...,...,...
17,"Jan 07, 2020",66.77,67.44,66.69,67.22,66.58,357400
18,"Jan 06, 2020",66.97,67.05,66.61,66.71,66.08,348500
19,"Jan 03, 2020",66.47,67.13,66.37,67.01,66.37,405000
20,"Jan 02, 2020",67.01,67.10,66.44,66.75,66.12,294400
21,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [12]:
LOB_df['Date']=pd.to_datetime(LOB_df['Date'], errors='coerce').copy()

LOB_df.reset_index(inplace=True)
LOB_df.drop(columns='index', inplace=True)
LOB_df=LOB_df[LOB_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']
LOB_df=LOB_df[LOB_df.Open!='0.315 Dividend']
LOB_df.head()

        Date   Open   High    Low Close* Adj Close**  Volume
0 2020-08-12  70.31  71.77  70.20  70.35       70.35  647400
1 2020-08-11  69.76  70.38  69.75  70.20       70.20  710000
2 2020-08-10  69.91  69.97  69.08  69.53       69.53  509200
3 2020-08-07  69.91  70.21  69.63  69.81       69.81  289600
4 2020-08-06  69.56  70.06  69.37  69.97       69.97  446200

In [13]:
Loblaws_df=LOB_df[['Date','Open','Close*']].copy()
Loblaws_df.columns=['Date','Loblaws_open','Loblaws_close']
Loblaws_df['Loblaws_open']=Loblaws_df['Loblaws_open'].astype('str', copy=True).astype('float', copy=True)
Loblaws_df['Loblaws_close']=Loblaws_df['Loblaws_close'].astype('str', copy=True).astype('float', copy=True)

Loblaws_df.dtypes

Date             datetime64[ns]
Loblaws_open            float64
Loblaws_close           float64
dtype: object

In [14]:
Loblaws_df['Loblaw_pert_change']=round(((Loblaws_df['Loblaws_close']-Loblaws_df['Loblaws_open'])/(Loblaws_df['Loblaws_open']))*100,2)
Loblaws_df.head()

        Date  Loblaws_open  Loblaws_close  Loblaw_perr_change
0 2020-08-12         70.31          70.35                0.06
1 2020-08-11         69.76          70.20                0.63
2 2020-08-10         69.91          69.53               -0.54
3 2020-08-07         69.91          69.81               -0.14
4 2020-08-06         69.56          69.97                0.59

In [15]:
AMZN= stock_dataframes("AMZN")

jan_AMZN_df = AMZN[0][0]
feb_AMZN_df = AMZN[1][0]
mar_AMZN_df = AMZN[2][0]
apr_AMZN_df = AMZN[3][0]
may_AMZN_df = AMZN[4][0]
jun_AMZN_df = AMZN[5][0]
jul_AMZN_df = AMZN[6][0]
aug_AMZN_df = AMZN[7][0]

In [16]:
AMZN_df = [aug_AMZN_df, jul_AMZN_df, jun_AMZN_df, may_AMZN_df, apr_AMZN_df, mar_AMZN_df, feb_AMZN_df, jan_AMZN_df]
AMZN_df = pd.concat(AMZN_df)
AMZN_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 12, 2020",3108.00,3174.39,3101.42,3162.24,3162.24,3522100
1,"Aug 11, 2020",3113.20,3159.22,3073.00,3080.67,3080.67,3718100
2,"Aug 10, 2020",3170.31,3172.51,3101.52,3148.16,3148.16,3167300
3,"Aug 07, 2020",3224.01,3240.81,3140.67,3167.46,3167.46,3929600
4,"Aug 06, 2020",3194.36,3247.47,3165.43,3225.00,3225.00,3940600
...,...,...,...,...,...,...,...
16,"Jan 07, 2020",1904.50,1913.89,1892.04,1906.86,1906.86,4044900
17,"Jan 06, 2020",1860.00,1903.69,1860.00,1902.88,1902.88,4061800
18,"Jan 03, 2020",1864.50,1886.20,1864.50,1874.97,1874.97,3764400
19,"Jan 02, 2020",1875.00,1898.01,1864.15,1898.01,1898.01,4029000
20,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [19]:
AMZN_df['Date']=pd.to_datetime(AMZN_df['Date'], errors='coerce').copy()

In [20]:
AMZN_df.reset_index(inplace=True)
AMZN_df.drop(columns='index', inplace=True)
AMZN_df=AMZN_df[AMZN_df.Open!='*Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits.']

In [21]:
Amazon_df=AMZN_df[['Date','Open','Close*']].copy()
Amazon_df.columns=['Date','Amazon_open','Amazon_close']

Amazon_df['Amazon_open']=Amazon_df['Amazon_open'].astype('str', copy=True).astype('float', copy=True)
Amazon_df['Amazon_close']=Amazon_df['Amazon_close'].astype('str', copy=True).astype('float', copy=True)
Amazon_df.dtypes

Date            datetime64[ns]
Amazon_open            float64
Amazon_close           float64
dtype: object

In [22]:
Amazon_df['Amazon_pert_change']=round(((Amazon_df['Amazon_close']-Amazon_df['Amazon_open'])/(Amazon_df['Amazon_open'])
                                       )*100,2)
Amazon_df.head()

        Date  Amazon_open  Amazon_close  Amazon_pert_change
0 2020-08-12      3108.00       3162.24                1.75
1 2020-08-11      3113.20       3080.67               -1.04
2 2020-08-10      3170.31       3148.16               -0.70
3 2020-08-07      3224.01       3167.46               -1.75
4 2020-08-06      3194.36       3225.00                0.96

In [23]:
Stockt_df=Amazon_df.merge(PTON_df,on="Date",how="inner").merge(Loblaws_df, on="Date", how="inner")

In [24]:
Stockt_df

,Date,Amazon_open,Amazon_close,Amazon_pert_change,Pton_open,Pton_close,Pton_pert_change,Loblaws_open,Loblaws_close,Loblaw_perr_change
0,2020-08-12,3108.00,3162.24,1.75,65.21,64.36,-1.30,70.31,70.35,0.06
1,2020-08-11,3113.20,3080.67,-1.04,65.69,64.96,-1.11,69.76,70.20,0.63
2,2020-08-10,3170.31,3148.16,-0.70,68.48,67.12,-1.99,69.91,69.53,-0.54
3,2020-08-07,3224.01,3167.46,-1.75,69.99,68.30,-2.41,69.91,69.81,-0.14
4,2020-08-06,3194.36,3225.00,0.96,71.73,69.72,-2.80,69.56,69.97,0.59
...,...,...,...,...,...,...,...,...,...,...
142,2020-01-08,1898.04,1891.97,-0.32,30.07,29.65,-1.40,67.22,67.57,0.52
143,2020-01-07,1904.50,1906.86,0.12,29.44,30.40,3.26,66.77,67.22,0.67
144,2020-01-06,1860.00,1902.88,2.31,30.61,29.75,-2.81,66.97,66.71,-0.39
145,2020-01-03,1864.50,1874.97,0.56,29.49,30.60,3.76,66.47,67.01,0.81
146,2020-01-02,1875.00,1898.01,1.23,28.90,29.74,2.91,67.01,66.75,-0.39